/*Universal Selector*/


/*Element Selector*/
body {
    background-color: #f1faee;
}

p {
    color: #457b9d;
}

a {
    text-decoration: none;
}

h1, h2 {
    color: #b5179e;
}

span {
    background-color: #e63946;
}

/*ID Selector*/
#p2 {
    color: #e76f51;
}

/*Class Selector*/
.funny {
    color: #fffffc;
}

/*Descendent Selector*/
form button {
    background-color: teal;
}

/*Adjacent Descendent Selector*/
h2 + p {
    font-weight: bold;
}
/*Direct-Descendent Selector*/
p > a {
    font-weight: normal;
}

/*Attribute Selector*/
span[class="sad"] {
    color: #457b9d;
}

/*Pseudo Class*/
p:nth-of-type(2n) {
    background-color: #eddcd2;
}

li:nth-of-type(2) {
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

/*Pseudo Element*/
p::first-letter {
    font-size: 40px;
}