<!DOCTYPE html>
<html lang="en">

<%- include('partial/head.ejs') %>

    <body>
        <h1>Homepage</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores minima minus cumque? Sed ad veniam
            magnam,
            odio illo excepturi provident optio ipsum animi vitae harum aliquam eos? Veniam, tenetur. Architecto.
            Nostrum amet aspernatur illum impedit sapiente commodi laudantium voluptas dolorem veniam ea culpa natus
            porro
            eligendi, nisi beatae saepe quam cum iure ullam numquam ipsa cupiditate eius voluptate hic? Ab?
            Assumenda ipsum animi aut dolorum, delectus esse eius quae excepturi mollitia expedita ullam architecto
            necessitatibus odit, quod soluta eveniet cumque tempora laboriosam nobis sed at veniam? Impedit tempore est
            ullam.
            Quis ad soluta debitis dolorum, unde iusto nemo illum facilis consequatur natus pariatur suscipit quo quae
            non
            omnis velit dolores perferendis et cum itaque ipsum? Veniam quos quasi at pariatur.
            Reprehenderit facilis deleniti nostrum nobis aut fugit illo quam porro laborum sed quia, perferendis eveniet
            asperiores voluptate expedita explicabo sapiente maiores autem rem. Ex, odit. Repellendus dolorem assumenda
            autem praesentium.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, ea veniam. Eos asperiores voluptas cumque!
            Mollitia, dolores sunt ipsum illum, accusamus repudiandae non eveniet dignissimos rerum praesentium
            excepturi
            adipisci veritatis.
            Veniam, aliquam illo voluptatum perferendis officiis excepturi. Nam accusamus veniam quibusdam qui soluta
            cupiditate nihil vel suscipit saepe quas alias facere temporibus ullam, perspiciatis, officia molestias
            dignissimos earum tenetur voluptatum.
            Culpa odio corrupti, quod voluptates ut, quasi sequi saepe, quaerat minus consectetur et rerum officiis.
            Rerum
            cum eveniet corrupti distinctio enim tenetur sapiente animi eum corporis, blanditiis minus repudiandae
            voluptas.
        </p>
    </body>

</html>